/A1/Exc2AreaCuadrado/nbproject/private/
/A1/Exc2AreaCuadrado/build/
/A1/ex3Operacions/nbproject/private/
/A1/ex3Operacions/build/
/A1/Ex4AreaCirculo/nbproject/private/
/A1/Ex4AreaCirculo/build/
/A1/ex6GrausKelvin/nbproject/private/
/A1/ex6GrausKelvin/build/
/A1/ex7MillasAMetros/nbproject/private/
/A1/ex7MillasAMetros/build/
/A1/ExemplesIf/nbproject/private/
/A1/ExemplesIf/build/
/A1/CondicionalMultiple/nbproject/private/
/A1/CondicionalMultiple/build/
/A1/DiaDeLaSetmana/nbproject/private/
/A1/DiaDeLaSetmana/build/
/A1/Notes/nbproject/private/
/A1/Notes/build/
/A1/ex3Condicionals/nbproject/private/
/A1/ex3Condicionals/build/
/A1/ex4CondiPositiuNegatiu/nbproject/private/
/A1/ex4CondiPositiuNegatiu/build/
/A1/ex5Condicional/nbproject/private/
/A1/ex5CondicionalAscendente/nbproject/private/
/A1/ex5CondicionalAscendente/build/
/A1/ex5CondicionalAscendente/dist/
/A1/Ex6MesGRanIguals/nbproject/private/
/A1/Ex6MesGRanIguals/build/
/A1/Ex7MesGran3/nbproject/private/
/A1/Ex7MesGran3/build/
/A1/Ex8SuspesAprovat/nbproject/private/
/A1/Ex8SuspesAprovat/build/
/A1/Ex9Notes/nbproject/private/
/A1/Ex9Notes/build/
